@charset "utf-8";

body {
  background-color: #f2f6f7;
  padding: 32px 0;
  width: 100%;
}

li {
  list-style: none;
}

a {
  display: inline-block;
}

/* flex */

.just_flex {
  display: flex;
}

.flex_center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.block {
  display: block;
}
/* 位置 */
.t_center {
  text-align: center;
}

.m-center {
  margin: 0 auto;
}

/* 色系 */

.google {
  color: #dd4b39;
}

.facebook {
  background-color: #3b5999;
  color: #fff;
  margin-right: 10px;
  border: 1px solid #3b5999;
}

.font_green {
  color: #01a6a4;
}


.font_grey {
  color: #949697;
}


.font_white {
  color: #fff;
}

.bgc_white {
  background-color: #fff;
}

/* font-size */

.font-24 {
  font-size: 24px;
}

.font-13 {
  font-size: 13px;
}

/* ボタン */
.btn {
  padding: 14px 75px;
  font-size: 18px;
  border: 1px solid #949697;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.btn__green {
  background-color: #01a6a4;
  color: #fff;
  width: 100%;
  border: 1px solid #01a6a4;
}
.btn__green:active {
  color: #01a6a4;
  background-color: #fff;
}

.btn__green:focus {
  outline: none;
}

/* ラジオボタンカスタマイズ */

input[type="radio"] {
  display: none;
}

/* 共通 */

.mt-30 {
  margin-top: 30px;
}

.width_50 {
  width: 50%;
}
.info__title {
  color: #545658;
  margin-bottom: 10px;
}
.box {
  width: 90%;
  height: 35px;
  border: 1px solid #d9d9d9;
  color: #545658;
  background-color: #fbfbfb;
}
.box:focus,
.remarks:focus {
  outline: 2px solid #E6FFE6;
  box-shadow: 0 0 2px 0 #949697;
}

/* ※作成 */
.required p {
  position: relative;
}

.required p::after {
  position: absolute;
  content: "※";
  top: 0;
  left: 11%;
  color: #dd4b39;
}

/* アカウント作成 */

.inner {
  width: 640px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 0 2px 0 #949697;
}

.regist__sns {
  margin-top: 20px;
}

.regist__sns li {
  border: 1px solid grey;
  margin-right: 10px;
}

.regist__text {
  margin-top: 10px;
}

.infos {
  padding-top: 30px;
}
/* アカウント情報と横線 */
.account {
  position: relative;
}

.account::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  background-color: #ececec;
  bottom: 50%;
  right: 0;
}

.account::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  background-color: #ececec;
  bottom: 50%;
  left: 0;
}

/* 性別 */
.info__sex_span{
  font-size: 18px;
}

/* アカウント作成ボタン以下 */
.privacy {
  margin-top: 20px;
  word-break: break-all;
  line-height: 1.4;
}

.remarks {
  padding: 5px;
  border: 1px solid #d9d9d9;
  resize: none;
  color: #545658;
}
